    header {
        flex-direction: column;
    }
    
    header #logo {
        margin: auto;
    }
    
    header nav ul {
        margin: 0px -20px;
        padding: 0;
    }
    
    header nav ul li {
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }
    
    .searchbox button {
        border-radius: 15px;
    }
    
    .searchbox button span {
        display: none;
    }
    
    .searchbox button .fa-search {
        display: block;
    }
    
    #filter {
        flex-direction: row;
        align-items: flex-start;
        margin: -18px 0px 0px 0px;
    }

    #filter ul{
        padding: 0px 5px 0px 40px;

    }

    #hebergement {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #hebergement section .container
    {
        background-color: #FFFFFF;
    }
    #hebergement .villeactuelle 
    {
        width:100%;
        order: 2;
    }
    
    #hebergement .populaire 
    {
        order: 1;
        width: 100%;
    }
    
    #hebergement .villeactuelle .hebergement-list {
        flex-direction: column;
    }
    
    #hebergement .villeactuelle .hebergement-list a {
        width: 100%;
    }
    
    #activite .activite-list .column {
        width: 100%;
    }
    
.activite-list
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:25%;
}

    .activite-list .column article,
    .activite-list .column.double article {
        height: 250px;
        margin-bottom: 20px;
    }
    
    footer {
        flex-direction: column;
        width: 100%;
    }
